
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/Common_Layout.cshtml";
}

<div class="row">
    
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="padding:0px;margin:0px;" min-height="500px">

        <br />
        <h2 style="text-align:center;"> Courses Offered</h2>
        <h1>-------------------------------------------------</h1>
        <br />
        <table class="table-hover" width="100%" border="10" cellpadding="10" cellspacing="10">
            <tr>
                <th style="background-color:#04AA6D;color:white">S No.</th>
                <th style="background-color:#04AA6D;color:white">Course Name</th>
                <th style="background-color:#04AA6D;color:white">Course Duration</th>
                <th style="background-color:#04AA6D;color:white">Fee</th>

            </tr>
            <tr class="table-light">
                <td>1</td>
                <td>BCA</td>
                <td>3 yrs</td>
                <td>70000/yr</td>
            </tr>
            <tr>
                <td>2</td>
                <td>BBA</td>
                <td>3 yrs</td>
                <td>60000/yr</td>
            </tr>
            <tr>
                <td>3</td>
                <td>B Com</td>
                <td>3 yrs</td>
                <td>35000/yr</td>
            </tr>
            <tr>
                <td>4</td>
                <td>BFA</td>
                <td>3 yrs</td>
                <td>27000/yr</td>
            </tr>
            <tr>
                <td>5</td>
                <td>MCA</td>
                <td>2 yrs</td>
                <td>90000/yr</td>
            </tr>
            <tr>
                <td>5</td>
                <td>MBA</td>
                <td>2 yrs</td>
                <td>140000/yr</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MFA</td>
                <td>2 yrs</td>
                <td>50000/yr</td>
            </tr>
            

        </table>
    </div>
    <div class="col-sm-2"></div>
</div>

