
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Common_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <br />
        <h2>Login Form</h2>

        <h2>------------------------------------</h2>
        <p class="text-center text-danger">@ViewBag.Message</p>
        <br />
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
    <div class="form-group">
        <label for="exampleInputEmail1">User Id</label>
        <input type="text" class="form-control" name="UserId" aria-describedby="emailHelp" placeholder="Enter User Id">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password">
        </div>
        <!--<div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>-->
        <input type="submit" value="Login" class="btn btn-info" />
        <br />
        }
    </div>
    <div class="col-sm-4"></div>
</div>

